{% extends 'base.html' %} {% block content %}

<section class="text-gray-700 body-font">
  <div class="container px-8 pt-48 pb-24 mx-auto lg:px-4">
    <form class="mt-6" method="POST">
      {% csrf_token %}

      <div class="flex flex-wrap mt-4 mb-6 -mx-3">
        {% for field in form.visible_fields %}
        <div class="w-full px-3 mb-6 md:w-1/3 md:mb-0">
          <label
            class="text-base font-medium leading-relaxed text-gray-700"
            for="password"
            minlength="6"
          >
            {{field.label}}
          </label>
          <input
            name="{{field.name}}"
            class="block w-full px-4 py-2 mt-2 text-base text-blue-700 bg-gray-100 border-transparent rounded-lg ext-blue-700 focus:border-gray-500"
            id="id_email"
            type="email"
            placeholder="Your {{field.label}}"
          />
          {% if field.errors %} {% if field.errors %} {% for error in field.errors %}
          <p class="mt-1 text-xs italic text-red-500">{{ error }}</p>
          {% endfor %} {% endif %} {% endif %} {% if field.help_text %}
          <p class="mt-1 text-xs italic text-blue-500">{{ field.help_text }}</p>
          {% endif %}
        </div>
        {% endfor %}
          <div class="w-full px-3 mb-6 md:w-1/3 md:mb-0">
      <button
        type="submit"
        class="block w-full px-4 py-3 mt-6 font-semibold text-white transition duration-500 ease-in-out transform rounded-lg bg-gradient-to-r from-blue-700 hover:from-blue-500 to-blue-500 hover:to-blue-700 focus:shadow-outline focus:outline-none"
      >
        Send
      </button>
      </div>
      </div>
      
      {% if form.non_field_errors %} {% for error in form.non_field_errors %}
      <p class="mt-1 text-xs italic text-red-500">{{ error }}</p>
      {% endfor %} {% endif %}
    </form>
  </div>
</section>
{% endblock %}
