<!--users/templates/registration/password_change_done.html-->

{% extends 'base.html' %} {% block content %}

<section class="text-gray-700 body-font">
            <div class="container px-8 py-48 mx-auto lg:px-4">
                <div class="flex flex-col w-full mb-12 text-left lg:text-center">
                    <p class="mx-auto text-base font-medium leading-relaxed text-gray-700 lg:w-2/3">Password change successfully.</p>
                </div>
                <div class="flex justify-center">
                    <a href="{% url 'dashboard' %}" class="inline-flex items-center font-semibold text-blue-700 md:mb-2 lg:mb-0 hover:text-blue-400 ">
                        Back to dashboard
                        <svg class="w-4 h-4 ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"
                            fill="currentColor">
                            <path fill="none" d="M0 0h24v24H0z" />
                            <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" /></svg>
                    </a>
                </div>
</section>

{% endblock %}
